
.options {
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 260px;
    top: 0;
    background-color: #f5f5f5;
}

.dx-treeview-toggle-item-visibility{
    border: 1px dashed #ffffff;
    border-radius: 5px;
    color: #f5f5f5;
    /* box-shadow: -1px 1px 10px black; */
}

.dx-treeview-node-container{
    padding-left: 5px;
}

