* {
    font-family: 'Arial';
    font-style: normal;
}

/* Navbar */
.navbar{
    background-color: #FFED00;
}

#sidebarMenu{
    background: radial-gradient(50% 330.61% at 0% 100%, #00A5B1 0%, #007687 100%);
    min-height: 92vh;
}
/* End navbar */


.my_btn{
    border-color: #057689;
    background-color: #057689;
    color: #fff;   
}

.my_btn:hover, .my_btn:after{
    border-color: #057689;
    background-color: white;
    color: #057689;
}

#process_name{
    color: #333;
    font-weight: bold;
}


/* Treeview */
.dx-treeview-search{
    border-radius: 55px !important;
}


#treeview {
    font-family: 'Arial' !important;
    font-weight: 700 !important;
    color: #007687 !important;
}

.dx-texteditor-container{
    border: 1px dashed rgb(167, 167, 167);
    border-radius: 25px;
    background-color: initial;
    height: initial;
}

.dx-item.dx-treeview-item{    
    border-radius: 8px;
    background-color: white;
    margin-top: 12px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

.dx-state-focused>.dx-item.dx-treeview-item{
    background-color: #FFED00;
    color: #4F4F4F;
    font-style: normal !important;
}
    
.dx-treeview-node-container-opened {
    border-left: .5px solid white;
    border-radius: 8px;
}

[aria-level="1"] {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
}

[aria-level="2"] {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
}

[aria-level="3"] {
    text-transform: capitalize;
    color: #333;
    font-size: 12px;
}

[aria-level="3"]>.dx-item:hover {
    color: rgb(10, 99, 110);
}

.dx-empty-message{
    color: white;
    
}

/* End treeview */

/* main content */
#excel_viewer,#pdf_viewer{
    height: 83vh;
}


/* end main content */


#no_pdf_viewer{
    background-color: #F7FAFD;
    border: 1px dashed #007687;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}